main {
  min-height: 60vh;
}

h3 {
  padding: 1rem 0;
}

/* .ml-auto {
  margin-left: auto;
}  */
/* not sure why the bs class doesn't work */

.rating span {
  margin: 0.1rem;
}
/* .product-screen {
  height: 60vh;
} */

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}
