main {
  min-height: 60vh;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  padding: 1rem 0;
}
/* fix cart styling icon to match BS theme */
.fz-lg {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
}
/* fix cart styling to match BS theme */
.badge {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.55);
  padding: 0.35em;
}
.form-label {
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;
}
.form-control {
  border: 1.5px solid #ced4da;
}
/* .ml-auto {
  margin-left: auto;
}  */
/* not sure why the bs class doesn't work */

.rating span {
  margin: 0.1rem;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.selectForm {
  padding: 0.75rem 0.2rem;
}
