main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #ffc107;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* pagination buttons color change */
.page-item .page-link {
  border-color: black !important;
  color: black;
  background-color: white;
  outline-color: none;
}
.page-item.active .page-link {
  z-index: 3;
  color: white !important;
  background-color: #333 !important;
}

/* ProductCarousel.css */
.product-carousel {
  max-height: 60vh;
  overflow: hidden;
}
.product-carousel img {
  width: 100%;
}

.carousel-caption {
  position: absolute;
  right: 5%;
  top: 5% !important;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  width: 100% !important;
  max-height: 80px;
}
@media only screen and (max-width: 600px) {
  .carousel-caption h2 {
    font-size: 20px;
  }
}
